<p-toast></p-toast>
<div class="flex align-items-center justify-content-center" style="height: calc(100vh - 80px);">
    <form class="card flex flex-column align-items-center justify-content-center p-5 w-7 sm:w-8 md:w-6 lg:w-4 overflow-auto gap-3" (submit)="cadastrarProdutoPagos()">
        <div>
            <h2 class="text-3xl font-semibold opacity-80">Pagar produto</h2>
        </div>
        <div class="flex flex-column gap-2 w-full">
            <label for="nm_produto">Nome do produto</label>
            <p-autoComplete 
                [(ngModel)]="produtoPagos.nm_produto" 
                [dropdown]="true" 
                [suggestions]="filteredProdutos" 
                (completeMethod)="filterProdutos($event)" 
                [style]="{'width':'100%'}"
                name="produtoPagos.nm_produto"
                field="descricao"
                />
        </div>
        <div class="flex flex-column gap-2 w-full">
            <label for="nm_usuario">Nome do usuário</label>
            <input 
                pInputText
                id="nm_usuario" 
                aria-describedby="nm_usuario-help" 
                [(ngModel)]="produtoPagos.nm_usuario"
                name="produto.nm_usuario"
                class="w-full"
                />
        </div>
        <div class="flex flex-column gap-2 w-full">
            <label for="qtd_paga">Quantidade paga</label>
            <input 
                pInputText
                id="qtd_paga" 
                aria-describedby="qtd_paga-help" 
                [(ngModel)]="produtoPagos.qtd_paga"
                name="produto.qtd_paga"
                type="number"
                class="w-full"
                min="1"
                />
        </div>
        <div class="card flex align-items-center justify-content-center gap-2 mt-4 w-full">
            <p-button label="Salvar" icon="pi pi-save" type="submit" severity="success" />
            <p-button label="Cancelar" icon="pi pi-times" severity="danger" (click)="cancelar()" />
        </div>
    </form>
</div>