/* Importe outros estilos globais, se necessário */

/* Importe estilos do PrimeNG */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* Reset CSS */
button,
input {
    /* CSS para resetar botões e inputs, se necessário */
    font-weight: normal;
    /* Outros estilos de reset, se aplicável */
}

.p-button .p-button-label {
    font-weight: normal !important;
    font-size: 14px;
}