<p-toast></p-toast>
<div class="card container">
    <p-table [value]="produtos" [tableStyle]="{ 'min-width': '40rem', 'font-size': '14px' }">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h4>
                    Produtos
                </h4>
            <p-button label="adicionar" (click)="adicionarProduto()" icon="pi pi-plus" [style]="{'padding': '7px', 'heigth': '20px', 'fontSize': '12px', 'fontWeight': 'normal'}" />
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Código do produto</th>
                <th>Descricao</th>
                <th>Data de validade</th>
                <th>quantidade em estoque</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.cd_produto }}</td>
                <td>{{ product.descricao }}</td>
                <td>{{ product.dt_validade | date: 'dd/MM/yyyy' }}</td>
                <td>{{ product.qtd_estoque }}</td>
                <td>
                    <p-toast />
                    <p-confirmDialog />
                    <p-button (click)="editarProduto(product.cd_produto)" icon="pi pi-pencil" severity="secondary" [style]="{'padding': '5px', 'fontSize': '10px', 'fontWeight': 'normal', 'marginRight': '4px'}"/>
                    
                    <p-button (click)="deletarProduto(product.cd_produto, $event)" icon="pi pi-trash" severity="danger" [style]="{'padding': '5px', 'heigth': '20px', 'fontSize': '7px', 'fontWeight': 'normal'}"/>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<router-outlet></router-outlet>